    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {opacity: 0.6;}

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }


    .centered {
        text-align: center;
        font-size: 0;
    }
    .centered > div {
        float: none;
        display: inline-block;
        text-align: left;
        font-size: 13px;
    }
    .top-buffer { margin-top:20px; }


    body {
        margin: 1%;    
        background-image: url("../../img/m_team.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        margin-right: 200px;
        background-attachment:   scroll;
    }
